body {background-color : ivory;
}
h1 {
    color : black;
    font : bold 32px arial, verdana;
    text-align : center;
}
h2 {
    color: black;
    font: bold 24px arial, verdana;
    text-align: center;
}

p {
    color : black;
    text-align :center;
}

img{
    position: relative;
    left: 50px;
}